body {
    background: url('/static/images/bgimage2.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}
.login-container {
    /* background: white url(/static/images/robot.png) no-repeat center bottom; */
    /* background-size: contain; */
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.login-button {
    background: #2196f3;
    transition: all 0.3s ease;
}
.login-button:hover {
    background: #1976d2;
    transform: translateY(-2px);
}
.input-field {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #333;
    outline: none;
}
.input-field::placeholder {
    color: #9e9e9e;
}
.input-field:focus, .input-field:hover {
    background: transparent;
    /* border: none; */
    outline: none;
}